<section class="sidebar">
  <a href="/" aria-label="Avatar"> 
    <img src="/images/profile.jpg" height="100px" class="avatar" />
  </a>

  <section class="title">
    

    <span id="lname">{{ site.name|split:' '|first }}</span>
    <span id="lname">{{ site.name|split:' '|last }}</span>

    <br>
    <section class = "subt">
    <i>humanising</i> data science
    </section>

    <section class = "links">
    <a href="/">All Posts</a> | <a href="/humanisingds">Humanising Data Science series</a> | <a href="/consulting">Consulting</a>
    </section>
</section>
  
<section class="meta">
  
<a href="https://www.linkedin.com/in/rianvandenander/" target="_blank" title="Follow me on LinkedIn" aria-label="Follow me on LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
  <a href="https://medium.com/@ryan-anderson-ds" target="_blank" title="Follow me on Medium" aria-label="Follow me on Medium"><i class="fa-brands fa-medium"></i></a>
  <a href="mailto:ryanandersonds@gmail.com" title="Email me" aria-label="Email me"><i class="fa-solid fa-envelope"></i></a>
  <a href="/atom.xml" title="Atom RSS feed" aria-label="Atom RSS feed"><i class="fa-solid fa-rss"></i></a>
  
 </section> 
</section>
