<section class="sidebar">
  <a href="/" aria-label="Avatar">
    <img src="/images/profile.jpg" width="105" class="avatar" />
  </a>

  <section class="name">
    <a href="/">
      <span id="fname">{{ site.name|split:' '|first }}</span>
      <span id="lname">{{ site.name|split:' '|last }}</span>
    </a>
  </section>

  <section class="subt">
    <i>humanising</i> data science 
  </section>

  <section class="sections">
    <ul>
      <li><a href="/">/posts</a></li>
      <li><a href="/consulting">/consulting</a></li>
    </ul>
  </section>

  <br><br>


  
  <section class="meta">
    <a href="https://www.linkedin.com/in/rianvandenander/" target="_blank" title="Follow me on LinkedIn" aria-label="Follow me on LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://medium.com/@ryan-anderson-ds" target="_blank" title="Follow me on Medium" aria-label="Follow me on Medium"><i class="fa-brands fa-medium"></i></a>
    <a href="mailto:ryanandersonds@gmail.com" title="Email me" aria-label="Email me"><i class="fa-solid fa-envelope"></i></a>
    <a href="/atom.xml" title="Atom RSS feed" aria-label="Atom RSS feed"><i class="fa-solid fa-rss"></i></a>
  </section>

  
    <button>X</button>
  
</section>
