<section class="sidebar">
  <a href="/" aria-label="Avatar">
    <img src="images/profile.jpg" height="75" class="avatar" />
  </a>

  <section class="name">
    <a href="/">
      <span id="fname">{{ site.name|split:' '|first }}</span>
      <span id="lname">{{ site.name|split:' '|last }}</span>
    </a>
  </section>

  <section class="name">
    *Good* Data Science 
  </section>

  <section class="meta">
    <a href="{{ site.github.owner_url }}" target="_blank" title="Follow me on GitHub" aria-label="Follow me on GitHub"><i class="fa fa-github"></i></a>
    <a href="{{ site.linkedin.owner_url }}" target="_blank" title="Follow me on LinkedIn" aria-label="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a>
    <a href="{{ site.medium.owner_url }}" target="_blank" title="Follow me on Medium" aria-label="Follow me on Medium"><i class="fa fa-medium"></i></a>
    <a href="/atom.xml" title="Atom RSS feed" aria-label="Atom RSS feed"><i class="fa fa-rss"></i></a>
  </section>

  <section class="sections">
    <ul>
      <li><a href="/consulting">consulting</a></li>
      <li><a href="/">posts</a></li>
    </ul>
  </section>
</section>
